#display{
    
}
p{
   width: 400px;
}
.tile{
    width:80px;
    position: absolute;
    display: block;
    height: 80px;
    background-color: #a0a072;
    border: 4px black solid;
    
    
}
